body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/flat-mountains.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.aboutMe {
  min-height: 100vh !important;
  height: inherit;
  width: 100%;
  display: table;
  background-color: #ebebeb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='97.7' stroke-opacity='0.32' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.46)' style='transform-origin:center'%3E%3Cg transform='rotate(28.8 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%231C2B19' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%2321331d' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23263b22' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%232b4426' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23314d2a' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%2336562f' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%233c5f33' href='%23a'/%3E%3Cuse stroke='%23416838' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%2347713d' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%234d7a41' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23538446' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23598e4b' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%2360974f' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%2366a154' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%236cab59' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%2373b65d' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%237ac062' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2380ca67' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%2387d46c' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%238edf71' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%2395ea75' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%239df47a' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23A4FF7F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0 !important;
  padding-top: 0 !important;
  animation: vortex .5s ease;
}

.aboutText {
  display: table-cell;
  vertical-align:middle;
  color:black;
  text-align: left;
  text-align: center;
}
.aboutText span{
  color:#521111 !important;
}

.Technologies {
  margin-top: 0 !important;
  padding-top: 0 !important;
  min-height: 100vh !important;
  height: inherit;
}

.ContactMe {
  margin-top: 0 !important;
  padding-top: 0 !important;
  min-height: 100vh !important;
  height: inherit;
}

.stack {
  margin: 0 !important;
  padding: 0 !important;
}

.footerContainer {
  background-color: white;
  color: white;
  font-weight: 600;
}
.footerContainer h5,
span {
  color: white !important;
}
.footerContainer a {
  text-decoration: none;
  color: #521111;
}
.footerLogo {
  width: 200px;
  height: auto;
}
#logoContainer {
  text-decoration: none !important;
  border: none !important;
}
.footer-distributed {
  background: #521111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.562);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  color: white;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: white;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  color: white;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #521111 !important;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  color: white;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  color: white;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
  color: white;
}

.footer-distributed .footer-right {
  width: 20%;
  color: white;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #270909;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
